* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-container {
  width: 40%;
}

button {
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: red;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}
#header .header {
  padding: 40px 0 0 0;
}
#header .header .logo img {
  width: 260px;
  margin-left: -30px;
}
#header .header .navigation-menu ul li {
  margin-left: 30px;
}
#header .header .navigation-menu ul li a {
  padding: 5px 10px;
  color: #ffffff;
  font-weight: 700;
  opacity: 0.8;
}
#header .header .right-menu .donate-button {
  border: 1px solid #23e4ff;
  padding: 10px 40px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #23e4ff;
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
}

#main-page {
  width: 100%;
  height: 100vh;
  background: url(/images/main-bg.jpeg);
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(0.89);
}
#main-page .text-area {
  width: 600px;
  position: absolute;
  top: 30%;
  left: 10%;
}
#main-page .text-area .title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}
#main-page .text-area .text {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
}
#main-page .button-area {
  width: 600px;
  position: absolute;
  top: 70%;
  left: 10%;
}
#main-page .button-area li {
  margin-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  cursor: pointer;
}
#main-page .button-area li:hover {
  background-color: #23e4ff;
}
#main-page .button-area li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

#intro {
  padding: 80px 0;
}
#intro .textColor {
  color: #03045e;
}
#intro .textColor-bg {
  background-color: #03045e;
}
#intro .hover-black:hover {
  background-color: black;
}
#intro .btn-styled {
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.7em;
  padding: 20px 30px;
  transition: 0.3s ease;
}
#intro .text-box {
  line-height: 30px;
}
#intro .text-box h1 {
  font-size: 3em;
  font-weight: 600;
  color: black;
}
#intro .img-box {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 30px;
  border: 10px solid #03045e;
}
#intro .img-box .upper-box, #intro .img-box .bottom-box {
  position: absolute;
}
#intro .img-box .upper-box {
  z-index: 1;
  top: -10%;
  left: -10%;
}
#intro .img-box .bottom-box {
  right: -10%;
  bottom: -10%;
}

#episodes .episode-box {
  margin-left: -20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#episodes .episode-box .cover img {
  border-radius: 10px;
}

#quotes .people-box .text-box p {
  font-weight: 600;
}
#quotes .people-box .img-box {
  margin-top: 50px;
  height: 150px;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(/images/bg-4.png);
}
#quotes .people-box .img-box .profile-box {
  width: 100px;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#quotes .people-box .img-box .profile-box img {
  border-radius: 50%;
}
#quotes h3 {
  position: relative;
  z-index: 1;
  font-weight: 700;
  color: #03045e;
}
#quotes h3 i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  font-size: 3em;
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
  #intro {
    padding: 120px 0;
  }
}
#absect1 {
  background-image: url(https://preview.codeless.co/livecast/default/wp-content/uploads/2021/04/bg-main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  vertical-align: bottom;
  position: relative;
}
#absect1 .ab1letters {
  align-items: center;
  height: 40vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#absect1 .ab1letters h2 {
  color: white;
  font-weight: bolder;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 20px;
}
#absect1 .ab1letters p {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 40px;
}

@media (min-width: 768px) {
  #absect1 {
    height: 100vh;
  }
  #absect1 .ab1letters h2 {
    font-size: 72px;
  }
  #absect1 .ab1letters p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .ab1links {
    opacity: 1;
  }
  .ab1links .abc {
    color: #23e4ff;
    margin: 26px 5px 0 0;
  }
  .ab1links i {
    color: #fff;
    font-size: 20px;
  }
  .ab1links h2 {
    font-size: 20px !important;
  }
  .ab1links button {
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    width: 15%;
    background-color: rgba(71, 78, 85, 0.5215686275);
  }
  .ab1links button a {
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
  .ab1links button:hover {
    background-color: #23e4ff;
  }
}
@media (max-width: 576px) {
  #meet {
    width: 100%;
  }
  #meet .boxtext {
    padding: 30px 0 30px 50px;
  }
  #meet .boxtext .heading {
    color: #23e4ff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
  }
  #meet .boxtext .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #03045e;
  }
  #meet .boxtext .add {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    color: #061020;
  }
  #meet .boxtext .textp {
    color: grey;
  }
  #meet .boxtext .button {
    margin-top: 50px;
  }
  #meet .boxtext .button a {
    font-family: rubik, Sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #061020;
    border-radius: 25px 25px 25px 25px;
    padding: 17px 38px;
    text-decoration: none;
    transition: all 0.3s;
  }
  #meet .boxtext .button a:hover {
    background-color: #01b7cd;
  }
  #meet .boxtext .icon {
    margin-left: 40px;
    margin-top: 50px;
  }
  #meet .boxtext .icon a {
    text-decoration: none;
    font-size: 17px;
    fill: #908dab;
    color: #908dab;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 16px;
  }
  #meet .boxtext .icon a:hover {
    color: #01b7cd;
    transition: all 0.3s;
  }
}
@media (max-width: 768px) {
  #meet {
    width: 100%;
  }
  #meet .boxtext {
    padding: 30px 0 30px 50px;
  }
  #meet .boxtext .heading {
    color: #23e4ff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
  }
  #meet .boxtext .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #03045e;
  }
  #meet .boxtext .add {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    color: #061020;
  }
  #meet .boxtext .textp {
    color: grey;
  }
  #meet .boxtext .button {
    margin-top: 50px;
  }
  #meet .boxtext .button a {
    font-family: rubik, Sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #061020;
    border-radius: 25px 25px 25px 25px;
    padding: 17px 38px;
    text-decoration: none;
    transition: all 0.3s;
  }
  #meet .boxtext .button a:hover {
    background-color: #01b7cd;
  }
  #meet .boxtext .icon {
    margin-left: 40px;
    margin-top: 50px;
  }
  #meet .boxtext .icon a {
    text-decoration: none;
    font-size: 17px;
    fill: #908dab;
    color: #908dab;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 16px;
  }
  #meet .boxtext .icon a:hover {
    color: #01b7cd;
    transition: all 0.3s;
  }
}
@media (max-width: 992px) {
  #meet {
    width: 100%;
  }
  #meet .boxtext {
    padding: 30px 0 30px 50px;
  }
  #meet .boxtext .heading {
    color: #23e4ff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
  }
  #meet .boxtext .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #03045e;
  }
  #meet .boxtext .add {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    color: #061020;
  }
  #meet .boxtext .textp {
    color: grey;
  }
  #meet .boxtext .button {
    margin-top: 50px;
  }
  #meet .boxtext .button a {
    font-family: rubik, Sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #061020;
    border-radius: 25px 25px 25px 25px;
    padding: 17px 38px;
    text-decoration: none;
    transition: all 0.3s;
  }
  #meet .boxtext .button a:hover {
    background-color: #01b7cd;
  }
  #meet .boxtext .icon {
    margin-left: 40px;
    margin-top: 50px;
  }
  #meet .boxtext .icon a {
    text-decoration: none;
    font-size: 17px;
    fill: #908dab;
    color: #908dab;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 16px;
  }
  #meet .boxtext .icon a:hover {
    color: #01b7cd;
    transition: all 0.3s;
  }
}
@media (max-width: 1200px) {
  #meet {
    width: 100%;
  }
  #meet .boxtext {
    padding: 30px 0 30px 50px;
  }
  #meet .boxtext .heading {
    color: #23e4ff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
  }
  #meet .boxtext .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #03045e;
  }
  #meet .boxtext .add {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    color: #061020;
  }
  #meet .boxtext .textp {
    color: grey;
  }
  #meet .boxtext .button {
    margin-top: 50px;
  }
  #meet .boxtext .button a {
    font-family: rubik, Sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #061020;
    border-radius: 25px 25px 25px 25px;
    padding: 17px 38px;
    text-decoration: none;
    transition: all 0.3s;
  }
  #meet .boxtext .button a:hover {
    background-color: #01b7cd;
  }
  #meet .boxtext .icon {
    margin-left: 40px;
    margin-top: 50px;
  }
  #meet .boxtext .icon a {
    text-decoration: none;
    font-size: 17px;
    fill: #908dab;
    color: #908dab;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 16px;
  }
  #meet .boxtext .icon a:hover {
    color: #01b7cd;
    transition: all 0.3s;
  }
}
@media (max-width: 1400px) {
  #meet {
    width: 100%;
  }
  #meet .boxtext {
    padding: 30px 0 30px 50px;
  }
  #meet .boxtext .heading {
    color: #23e4ff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
  }
  #meet .boxtext .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #03045e;
  }
  #meet .boxtext .add {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    color: #061020;
  }
  #meet .boxtext .textp {
    color: grey;
  }
  #meet .boxtext .button {
    margin-top: 50px;
  }
  #meet .boxtext .button a {
    font-family: rubik, Sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #061020;
    border-radius: 25px 25px 25px 25px;
    padding: 17px 38px;
    text-decoration: none;
    transition: all 0.3s;
  }
  #meet .boxtext .button a:hover {
    background-color: #01b7cd;
  }
  #meet .boxtext .icon {
    margin-left: 40px;
    margin-top: 50px;
  }
  #meet .boxtext .icon a {
    text-decoration: none;
    font-size: 17px;
    fill: #908dab;
    color: #908dab;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 16px;
  }
  #meet .boxtext .icon a:hover {
    color: #01b7cd;
    transition: all 0.3s;
  }
}
#meet {
  width: 100%;
  padding: 50px 0;
  background-color: #F6FAFC;
}
#meet .boxtext {
  padding: 30px 0 30px 50px;
}
#meet .boxtext .heading {
  color: #23e4ff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
}
#meet .boxtext .name {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #03045e;
}
#meet .boxtext .add {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  line-height: 34px;
  color: #061020;
}
#meet .boxtext .textp {
  color: grey;
}
#meet .boxtext .button {
  margin-top: 50px;
}
#meet .boxtext .button a {
  font-family: rubik, Sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  fill: #fff;
  color: #fff;
  background-color: #061020;
  border-radius: 25px 25px 25px 25px;
  padding: 17px 38px;
  text-decoration: none;
  transition: all 0.3s;
}
#meet .boxtext .button a:hover {
  background-color: #01b7cd;
}
#meet .boxtext .icon {
  margin-left: 40px;
  margin-top: 50px;
}
#meet .boxtext .icon a {
  text-decoration: none;
  font-size: 17px;
  fill: #908dab;
  color: #908dab;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 16px;
}
#meet .boxtext .icon a:hover {
  color: #01b7cd;
  transition: all 0.3s;
}

#about3 {
  width: 100%;
  background-color: #dce0e1;
}
#about3 h2 {
  color: #23e4ff;
  font-size: 30px;
  padding-top: 50px;
}
#about3 span {
  font-size: 14px;
  color: grey;
}
#about3 .ab3boxes {
  margin-top: 20px;
}
#about3 .ab3boxes .abbox1 {
  background-color: #fff;
  height: 70vh;
  border-radius: 10px;
  margin: 0 -20px 20px;
}
#about3 .ab3boxes .abbox1 .abb1 {
  width: 90%;
  margin: auto;
  position: relative;
}
#about3 .ab3boxes .abbox1 .abb1 img {
  width: 100%;
  height: 45vh;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
}
#about3 .ab3boxes .abbox1 .abb1 .overlay {
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 1;
}
#about3 .ab3boxes .abbox1 .abb1 .overlay i {
  color: white;
  font-size: 3em;
}
#about3 .ab3boxes .abbox1 .abb1 .overlay2 {
  height: 20px;
  background-color: rgba(255, 255, 255, 0.543);
  position: absolute;
  z-index: 1;
  top: 35px;
  right: 15px;
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
}
#about3 .ab3boxes .abbox1 .abb2 {
  width: 90%;
  margin: auto;
}
#about3 .ab3boxes .abbox1 .abb2 span {
  width: 100%;
  display: inline-block;
  margin: 5px 0;
  color: #23e4ff;
}
#about3 .ab3boxes .abbox1 h3 {
  color: #03045e;
  font-size: 24px;
  margin: 10px 0;
}

@media (min-width: 576px) {
  #allepisode {
    padding: 10px;
    width: 100%;
    overflow: hidden;
  }
  #allepisode .headtext {
    margin: 10px 10px;
    padding-left: 100px;
  }
  #allepisode .headtext h2 {
    font-size: 24px;
    font-weight: 700;
    color: #061020;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .headtext span {
    font-size: 11px;
    font-weight: 500;
    color: rgba(3, 7, 255, 0.6745098039);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgba(22, 12, 96, 0.09);
    position: relative;
  }
  #allepisode .musics .entry-podcast .play {
    top: 50%;
    position: absolute;
    left: 0;
    width: 20 #allepisode .musics .entry-podcast .play;
    margin-top: -25px;
    box-shadow: 0 0 20px 0 rgba(0, 155, 212, 0.2);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    vertical-align: middle;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
  }
  #allepisode .musics .entry-podcast .play:hover {
    background: #23e4ff;
    color: #fff;
  }
  #allepisode .musics .entry-podcast .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #061020;
    margin-left: 70px;
    width: 100%;
    transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  }
  #allepisode .musics .entry-podcast .title:hover {
    color: #23e4ff;
  }
  #allepisode .musics .history {
    display: none;
  }
  #allepisode .musics .icon {
    display: none;
  }
  #allepisode .musics .last {
    display: none;
  }
}
@media (min-width: 768px) {
  #allepisode {
    padding: 10px;
    width: 100%;
    overflow: hidden;
  }
  #allepisode .headtext {
    margin: 10px 10px;
    padding-left: 50px;
  }
  #allepisode .headtext h2 {
    font-size: 24px;
    font-weight: 700;
    color: #061020;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .headtext span {
    font-size: 11px;
    font-weight: 500;
    color: rgba(3, 7, 255, 0.6745098039);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgba(22, 12, 96, 0.09);
    position: relative;
  }
  #allepisode .musics .entry-podcast .play {
    top: 50%;
    position: absolute;
    left: 0;
    width: 20 #allepisode .musics .entry-podcast .play;
    margin-top: -25px;
    box-shadow: 0 0 20px 0 rgba(0, 155, 212, 0.2);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    vertical-align: middle;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
  }
  #allepisode .musics .entry-podcast .play:hover {
    background: #23e4ff;
    color: #fff;
  }
  #allepisode .musics .entry-podcast .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #061020;
    margin-left: 70px;
    width: 100%;
    transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  }
  #allepisode .musics .entry-podcast .title:hover {
    color: #23e4ff;
  }
  #allepisode .musics .history {
    display: none;
  }
  #allepisode .musics .icon {
    display: none;
  }
  #allepisode .musics .last {
    display: none;
  }
}
@media (min-width: 992px) {
  #allepisode {
    padding: 10px;
    width: 100%;
    overflow: hidden;
  }
  #allepisode .headtext {
    margin: 10px 10px;
    padding-left: 115px;
  }
  #allepisode .headtext h2 {
    font-size: 24px;
    font-weight: 700;
    color: #061020;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .headtext span {
    font-size: 11px;
    font-weight: 500;
    color: rgba(3, 7, 255, 0.6745098039);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgba(22, 12, 96, 0.09);
    position: relative;
  }
  #allepisode .musics .entry-podcast .play {
    top: 50%;
    position: absolute;
    left: 0;
    width: 20 #allepisode .musics .entry-podcast .play;
    margin-top: -25px;
    box-shadow: 0 0 20px 0 rgba(0, 155, 212, 0.2);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    vertical-align: middle;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
  }
  #allepisode .musics .entry-podcast .play:hover {
    background: #23e4ff;
    color: #fff;
  }
  #allepisode .musics .entry-podcast .title {
    width: 30%;
    margin: auto;
    transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  }
  #allepisode .musics .entry-podcast .title h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 11px;
  }
  #allepisode .musics .entry-podcast .title:hover {
    color: #23e4ff;
  }
  #allepisode .musics .entry-podcast .history {
    display: block;
    color: #061020;
    font-size: 11px;
    font-weight: 600;
    margin: auto;
    width: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast .icon {
    display: block;
    width: 20%;
    text-align: center;
    margin: auto;
  }
  #allepisode .musics .entry-podcast .icon a {
    margin-right: 1000px;
    background-position: left;
    padding-left: 20px;
    padding-bottom: 1px;
    font-size: 11px;
    color: #01b7cd;
    line-height: 20px;
    text-transform: uppercase;
    background: url(/images/headphones.jpg) no-repeat;
    text-decoration: none;
  }
  #allepisode .musics .entry-podcast .last {
    display: block;
    width: 10%;
    margin: auto;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 28px;
    text-transform: none;
    color: #6d727c;
  }
}
@media (min-width: 1200px) {
  #allepisode {
    padding: 10px;
    width: 100%;
    overflow: hidden;
  }
  #allepisode .headtext {
    margin: 10px 10px;
    padding-left: 115px;
  }
  #allepisode .headtext h2 {
    font-size: 24px;
    font-weight: 700;
    color: #061020;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .headtext span {
    font-size: 11px;
    font-weight: 500;
    color: rgba(3, 7, 255, 0.6745098039);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgba(22, 12, 96, 0.09);
    position: relative;
  }
  #allepisode .musics .entry-podcast .play {
    top: 50%;
    position: absolute;
    left: 0;
    width: 20 #allepisode .musics .entry-podcast .play;
    margin-top: -25px;
    box-shadow: 0 0 20px 0 rgba(0, 155, 212, 0.2);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    vertical-align: middle;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
  }
  #allepisode .musics .entry-podcast .play:hover {
    background: #23e4ff;
    color: #fff;
  }
  #allepisode .musics .entry-podcast .title {
    width: 30%;
    margin: auto;
    transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  }
  #allepisode .musics .entry-podcast .title h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 11px;
  }
  #allepisode .musics .entry-podcast .title:hover {
    color: #23e4ff;
  }
  #allepisode .musics .entry-podcast .history {
    display: block;
    color: #061020;
    font-size: 11px;
    font-weight: 600;
    margin: auto;
    width: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast .icon {
    display: block;
    width: 20%;
    text-align: center;
    margin: auto;
  }
  #allepisode .musics .entry-podcast .icon a {
    margin-right: 1000px;
    background-position: left;
    padding-left: 20px;
    padding-bottom: 1px;
    font-size: 11px;
    color: #01b7cd;
    line-height: 20px;
    text-transform: uppercase;
    background: url(/photo/headphones.webp) no-repeat;
    text-decoration: none;
  }
  #allepisode .musics .entry-podcast .last {
    display: block;
    width: 10%;
    margin: auto;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 28px;
    text-transform: none;
    color: #6d727c;
  }
}
@media (min-width: 1400px) {
  #allepisode {
    padding: 10px;
    overflow: hidden;
    width: 100%;
  }
  #allepisode .headtext {
    margin: 10px 10px;
    padding-left: 115px;
  }
  #allepisode .headtext h2 {
    font-size: 24px;
    font-weight: 700;
    color: #061020;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .headtext span {
    font-size: 11px;
    font-weight: 500;
    color: rgba(3, 7, 255, 0.6745098039);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 35px 0px rgba(22, 12, 96, 0.09);
    position: relative;
  }
  #allepisode .musics .entry-podcast .play {
    top: 50%;
    position: absolute;
    left: 0;
    width: 20 #allepisode .musics .entry-podcast .play;
    margin-top: -25px;
    box-shadow: 0 0 20px 0 rgba(0, 155, 212, 0.2);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    vertical-align: middle;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
  }
  #allepisode .musics .entry-podcast .play:hover {
    background: #23e4ff;
    color: #fff;
  }
  #allepisode .musics .entry-podcast .title {
    width: 30%;
    margin: auto;
    transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  }
  #allepisode .musics .entry-podcast .title h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 11px;
  }
  #allepisode .musics .entry-podcast .title:hover {
    color: #23e4ff;
  }
  #allepisode .musics .entry-podcast .history {
    display: block;
    color: #061020;
    font-size: 11px;
    font-weight: 600;
    margin: auto;
    width: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #allepisode .musics .entry-podcast .icon {
    display: block;
    width: 20%;
    text-align: center;
    margin: auto;
  }
  #allepisode .musics .entry-podcast .icon a {
    margin-right: 1000px;
    background-position: left;
    padding-left: 20px;
    padding-bottom: 1px;
    font-size: 11px;
    color: #01b7cd;
    line-height: 20px;
    text-transform: uppercase;
    background: url(/photo/headphones.webp) no-repeat;
    text-decoration: none;
  }
  #allepisode .musics .entry-podcast .last {
    display: block;
    width: 10%;
    margin: auto;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 28px;
    text-transform: none;
    color: #6d727c;
  }
}
#allepisode {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
#allepisode .headtext {
  margin: 10px 10px;
}
#allepisode .headtext h2 {
  font-size: 24px;
  font-weight: 700;
  color: #061020;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#allepisode .headtext span {
  font-size: 11px;
  font-weight: 500;
  color: rgba(3, 7, 255, 0.6745098039);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#allepisode .musics .entry-podcast {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 35px 0px rgba(22, 12, 96, 0.09);
  position: relative;
  margin: 15px 0;
}
#allepisode .musics .entry-podcast .play {
  top: 50%;
  position: absolute;
  left: 0;
  width: 20 #allepisode .musics .entry-podcast .play;
  margin-top: -25px;
  box-shadow: 0 0 20px 0 rgba(0, 155, 212, 0.2);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  vertical-align: middle;
  line-height: 50px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 2;
}
#allepisode .musics .entry-podcast .play:hover {
  background: #23e4ff;
  color: #fff;
}
#allepisode .musics .entry-podcast .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #061020;
  margin-left: 70px;
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
}
#allepisode .musics .entry-podcast .title:hover {
  color: #23e4ff;
}
#allepisode .musics .history {
  display: none;
}
#allepisode .musics .icon {
  display: none;
}
#allepisode .musics .last {
  display: none;
}

#team {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
#team .headtext h2 {
  font-size: 24px;
  font-weight: 700;
  color: #061020;
}
#team .headtext span {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  fill: #908dab;
  color: #908dab;
}
#team .first .imagebox {
  position: relative;
}
#team .first .imagebox img {
  border-radius: 50%;
  width: 220px !important;
  max-height: 220px;
}
#team .first .teamcontent {
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
}
#team .first .teamcontent h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #061020;
}
#team .first .teamcontent h4:hover {
  color: #01b7cd;
}
#team .first .teamcontent h6 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #01b7cc;
}
#team .first .teamcontent p {
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 14px;
}
#team .first .team-socials {
  margin-top: 10px;
}
#team .first .team-socials i {
  padding: 0 12px;
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  color: #6d727c;
}
#team .first .team-socials i:hover {
  color: #01b7cc;
}
#team .second .imagebox {
  position: relative;
}
#team .second .imagebox img {
  border-radius: 50%;
  width: 220px !important;
  max-height: 220px;
}
#team .second .teamcontent {
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
}
#team .second .teamcontent h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #061020;
}
#team .second .teamcontent h4:hover {
  color: #01b7cd;
}
#team .second .teamcontent h6 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #01b7cc;
}
#team .second .teamcontent p {
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 14px;
}
#team .second .team-socials {
  margin-top: 10px;
}
#team .second .team-socials i {
  padding: 0 12px;
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  color: #6d727c;
}
#team .second .team-socials i:hover {
  color: #01b7cc;
}
#team .three .imagebox {
  position: relative;
}
#team .three .imagebox img {
  border-radius: 50%;
  width: 220px !important;
  max-height: 220px;
}
#team .three .teamcontent {
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
}
#team .three .teamcontent h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #061020;
}
#team .three .teamcontent h4:hover {
  color: #01b7cd;
}
#team .three .teamcontent h6 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #01b7cc;
}
#team .three .teamcontent p {
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 14px;
}
#team .three .team-socials {
  margin-top: 10px;
}
#team .three .team-socials i {
  padding: 0 12px;
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  color: #6d727c;
}
#team .three .team-socials i:hover {
  color: #01b7cc;
}
#team .last .imagebox {
  position: relative;
}
#team .last .imagebox img {
  border-radius: 50%;
  width: 220px !important;
  max-height: 220px;
}
#team .last .teamcontent {
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
}
#team .last .teamcontent h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #061020;
}
#team .last .teamcontent h4:hover {
  color: #01b7cd;
}
#team .last .teamcontent h6 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #01b7cc;
}
#team .last .teamcontent p {
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 14px;
}
#team .last .team-socials {
  margin-top: 10px;
}
#team .last .team-socials i {
  padding: 0 12px;
  transition: color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86), background-color 200ms cubic-bezier(0.78, 0.14, 0.2, 0.86);
  color: #6d727c;
}
#team .last .team-socials i:hover {
  color: #01b7cc;
}

.music-img {
  width: 100%;
}
.music-img img {
  width: 100%;
  border-radius: 10px;
}

.mucic {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border-radius: 20px;
  margin: 5px;
}

.ikon-col {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.ikon-col button {
  border: none;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #03045e;
  transition: 0.5s;
}
.ikon-col button:hover {
  background-color: #23e4ff;
  color: #fff;
}
.ikon-col button a {
  margin-left: 10px;
  font-weight: 600;
}

.play a {
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  background-color: #23e4ff;
  color: #03045e;
  transition: 0.5s;
}
.play a:hover {
  background-color: #23e4ff;
}
.play a i {
  color: #ffffff;
}

.music-text h6 {
  padding: 10px 5px;
  font-weight: 600;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.5s;
}
.music-text h6:hover {
  background-color: #ffffff;
  color: #03045e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.v-1 {
  margin: 20px 0px;
}

#footer {
  width: 100%;
  background-color: #161F2C;
}
#footer .top-footer {
  padding: 50px 0;
}
#footer .top-footer .foot-title h4 {
  font-size: 32px;
  width: 500px;
  color: #ffffff;
  font-weight: 700;
}
#footer .top-footer .subscribe-area {
  position: relative;
}
#footer .top-footer .subscribe-area .sub-input {
  width: 450px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 25px;
}
#footer .top-footer .subscribe-area .sub-button {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
  background-color: #23e4ff;
  padding: 12px 20px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */